<div class="BnetNav">
    <div class="BnetNav-navbar">
        <div id="nav-client-header" class="nav-client mobileEnabled compact">
            <!--[if !IE|(gt IE 8)]> <!-->
            <div class="nav-mobile-menubar">
                <div class="nav-hamburger-menu-icon"></div>
                <div class="nav-mobile-menu-title"></div>
                <div class="nav-global-menu-icon"></div>
                <div class="nav-notification-icon">
                    <a rel="navbar" class="dropdown-toggle needsclick nav-item">
                        <i class="needsclick nav-icon-bell"></i>
                    </a>
                    <div class="nav-notification-dropdown dropdown-menu">
                        <div class="arrow top"></div>
                    </div>
                </div>
            </div>
            <div class="nav-mobile-menu-wrap right">
                <div class="menu-relative-wrap">
                    <div class="menu-header global-menu">
                        <div class="nav-remove-icon-wrap">
                            <div class="nav-remove-icon"></div>
                        </div>
                    </div>
                    <div class="menu-content">
                        <div id="user-account" class="nav-box">
                            <div class="label">
                                <span class="battletag">chilblane</span>
                                <span class="code">#1658</span>
                            </div>
                            <div class="email"></div>
                        </div>
                        <div id="general-menu" class="nav-box">
                            <ul class="menu-list global-menu-main">
                                <li class="menu-list-item">
                                    <a href="https://us.battle.net/shop/" class=" nav-item" id="nav-client-shop" title="" rel="" data-analytics="global-nav" data-analytics-placement="Nav - Shop">
                                        <i class="nav-icon-24-blue nav-icon-shopping-cart"></i>
                                        <span>Shop</span>
                                    </a>
                                </li>
                                <li class="menu-list-item">
                                    <a href="http://us.battle.net/support/" class=" nav-item" id="nav-client-support" title="" rel="" data-analytics="global-nav" data-analytics-placement="Nav - Support">
                                        <i class="nav-icon-24-blue nav-icon-question-circle"></i>
                                        <span>Support</span>
                                        <span id="support-counter" class=" nav-support-ticket-counter nav-counter no-updates"></span>
                                    </a>
                                </li>
                                <li class="menu-list-item">
                                    <a href="https://us.battle.net/account/" class=" nav-item" id="nav-client-account-settings" title="" rel="" data-analytics="global-nav" data-analytics-placement="Nav - Account - Settings">
                                        <i class="nav-icon-24-blue nav-icon-character-cog"></i>
                                        <span>Account Settings</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div id="games-menu" class="nav-box">
                            <span id="games-menu-title">Games</span>
                            <ul class="menu-list global-menu-games">
                                <li class="menu-list-item">
                                    <a href="http://us.battle.net/wow/" class="game-icon nav-item" id="nav-client-news" title="" rel="" data-analytics="global-nav" data-analytics-placement="Nav - Games - World of Warcraft">
                                        <i class=" nav-icon-wow"></i>
                                        <span>World of Warcraft®</span>
                                    </a>
                                </li>
                                <li class="menu-list-item">
                                    <a href="http://us.battle.net/d3/" class="game-icon nav-item" id="nav-client-news" title="" rel="" data-analytics="global-nav" data-analytics-placement="Nav - Games - Diablo III">
                                        <i class=" nav-icon-d3"></i>
                                        <span>Diablo® III</span>
                                    </a>
                                </li>
                                <li class="menu-list-item">
                                    <a href="http://us.battle.net/sc2/" class="game-icon nav-item" id="nav-client-news" title="" rel="" data-analytics="global-nav" data-analytics-placement="Nav - Games - StarCraft II">
                                        <i class=" nav-icon-sc2"></i>
                                        <span>StarCraft® II</span>
                                    </a>
                                </li>
                                <li class="menu-list-item">
                                    <a href="http://us.battle.net/hearthstone/" class="game-icon nav-item" id="nav-client-news" title="" rel="" data-analytics="global-nav" data-analytics-placement="Nav - Games - Hearthstone">
                                        <i class=" nav-icon-hearthstone"></i>
                                        <span>Hearthstone®</span>
                                    </a>
                                </li>
                                <li class="menu-list-item">
                                    <a href="http://us.battle.net/heroes/" class="game-icon nav-item" id="nav-client-news" title="" rel="" data-analytics="global-nav" data-analytics-placement="Nav - Games - Heroes of the Storm">
                                        <i class=" nav-icon-heroes"></i>
                                        <span>Heroes of the Storm™</span>
                                    </a>
                                </li>
                                <li class="menu-list-item">
                                    <a href="http://us.battle.net/overwatch/" class="game-icon nav-item" id="nav-client-news" title="" rel="" data-analytics="global-nav" data-analytics-placement="Nav - Games - Overwatch">
                                        <i class=" nav-icon-overwatch"></i>
                                        <span>Overwatch™</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div id="logout-nav-box" class="nav-box">
                            <a href="/logout" class=" nav-item" id="nav-client-logout" title="" rel="" data-analytics="global-nav" data-analytics-placement="Nav - Account - Log Out">
                                <i class="nav-icon-24-blue nav-icon-logout"></i>
                                <span>Log Out</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nav-mobile-menu-wrap left">
                <div class="menu-relative-wrap"></div>
            </div>
            <div id="nav-blackout" style="display:none"></div>
            <!--<![endif]-->
            <div id="nav-client-bar">
                <div style="max-width: 1600px" class="grid-container nav-header-content">
                    <ul id="nav-client-main-menu" class="nav-list nav-left">
                        <li>
                            <a href="http://us.battle.net/" class="nav-home nav-item" id="nav-client-home" title="" rel="" data-analytics="global-nav" data-analytics-placement="Nav - Battle.net Icon"></a>
                        </li>
                        <li>
                            <div class="dropdown games">
                                <a id="nav-client-games" data-toggle="dropdown" class="dropdown-toggle nav-link needsclick active">
                                    Games<b class="caret"></b>
                                </a>
                                <div class="dropdown-menu">
                                    <ul role="menu" class="nav-product-card-container games-menu">
                                        <li>
                                            <a href="http://us.battle.net/wow/" class="game-icon nav-item" id="" title="" rel="" data-analytics="global-nav" data-analytics-placement="Nav - Games - World of Warcraft">
                                                <i class=" nav-icon-wow"></i>
                                                <span>World of Warcraft®</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://us.battle.net/d3/" class="game-icon nav-item" id="" title="" rel="" data-analytics="global-nav" data-analytics-placement="Nav - Games - Diablo III">
                                                <i class=" nav-icon-d3"></i>
                                                <span>Diablo® III</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://us.battle.net/sc2/" class="game-icon nav-item" id="" title="" rel="" data-analytics="global-nav" data-analytics-placement="Nav - Games - StarCraft II">
                                                <i class=" nav-icon-sc2"></i>
                                                <span>StarCraft® II</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://us.battle.net/hearthstone/" class="game-icon nav-item" id="" title="" rel="" data-analytics="global-nav" data-analytics-placement="Nav - Games - Hearthstone">
                                                <i class=" nav-icon-hearthstone"></i>
                                                <span>Hearthstone®</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://us.battle.net/heroes/" class="game-icon nav-item" id="" title="" rel="" data-analytics="global-nav" data-analytics-placement="Nav - Games - Heroes of the Storm">
                                                <i class=" nav-icon-heroes"></i>
                                                <span>Heroes of the Storm™</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://us.battle.net/overwatch/" class="game-icon nav-item" id="" title="" rel="" data-analytics="global-nav" data-analytics-placement="Nav - Games - Overwatch">
                                                <i class=" nav-icon-overwatch"></i>
                                                <span>Overwatch™</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="dropdown-well dropdown-section download-btn">
                                        <a href="http://us.battle.net/games/classic" class="nav-a nav-item-box nav-item" id="" title="" rel="" data-analytics="global-nav" data-analytics-placement="Nav - Games - Classic Games">
                                            <i class="nav-icon-24-blue nav-icon-mouse"></i>
                                            <span>Classic Games</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="https://us.battle.net/shop/" class="nav-link needsclick nav-item" id="nav-client-shop" title="" rel="" data-analytics="global-nav" data-analytics-placement="Nav - Shop">
                                <span>Shop</span>
                            </a>
                        </li>
                    </ul>
                    <ul id="nav-client-account-menu" class="nav-list nav-right">
                        <li>
                            <div id="username">
                                <div class="dropdown pull-right">
                                    <a id="nav-client-account" data-toggle="dropdown" rel="navbar" class="nav-link username needsclick dropdown-toggle">
                                        <span>chilblane</span>
                                        <b class="caret"></b>
                                    </a>
                                    <div class="dropdown-menu pull-right">
                                        <div class="arrow top"></div>
                                        <div class="user-profile">
                                            <div class="dropdown-section">
                                                <div class="nav-box selectable">
                                                    <div class="label">
                                                        <span class="battletag">chilblane</span>
                                                        <span class="code">#1658</span>
                                                    </div>
                                                    <div class="email"></div>
                                                </div>
                                            </div>
                                            <div class="dropdown-section">
                                                <ul class="nav-list">
                                                    <li>
                                                        <a href="https://us.battle.net/account/" class="nav-a nav-item-box nav-item" id="nav-client-account-settings" title="" rel="" data-analytics="global-nav" data-analytics-placement="Nav - Account - Settings">
                                                            <i class="nav-icon-24-blue nav-icon-character-cog"></i>
                                                            <span>Account Settings</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="dropdown-section">
                                                <a href="/logout" class="nav-item-box nav-item" id="" title="" rel="" data-analytics="global-nav" data-analytics-placement="Nav - Account - Log Out">
                                                    <i class="nav-icon-24-blue nav-icon-logout"></i>
                                                    <span>Log Out</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="http://us.battle.net/support/" class="nav-link needsclick nav-item" id="nav-client-support-link" title="" rel="" data-analytics="global-nav" data-analytics-placement="Nav - Support">
                                <span>Support</span>
                                <span id="support-counter" class=" nav-support-ticket-counter nav-counter no-updates"></span>
                            </a>
                        </li>
                        <li>
                            <div class="nav-notification-icon">
                                <a rel="navbar" class="dropdown-toggle needsclick nav-item">
                                    <i class="needsclick nav-icon-bell"></i>
                                </a>
                                <div class="nav-notification-dropdown dropdown-menu">
                                    <div class="arrow top"></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="nav-notification-responsive-container">
                <div class="nav-notification-dropdown dropdown-menu">
                    <div class="arrow top"></div>
                </div>
            </div>
        </div>
    </div>
</div>
