<div class="Pane Pane--dirtDark Pane--above">
    <div class="Pane-bg">
        <div class="Pane-overlay"></div>
    </div>
    <div class="Pane-content">
        <div class="SiteFooter">
            <div class="space-small"></div>
            <div class="footer row">
                <div class="desktop-footer-container">
                    <div class="middle-container">
                        <div class="footer-section clearfix top">
                            <div class="pull-left">
                                <ul class="support-feedback">
                                    <li>
                                        <a id="btn-support" href="http://us.battle.net/support/" data-analytics="global-nav" data-analytics-placement="Footer - Support" class="pull-left">
                                            Support<i class="footer-icon footer-icon-question-circle pull-left"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a id="btn-feedback" href="http://us.battle.net/feedback" data-analytics="global-nav" data-analytics-placement="Footer - Feedback" class="pull-left">
                                            Feedback<i class="footer-icon footer-icon-edit pull-left"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="pull-right">
                                <div class="dropup">
                                    <a id="region-language-dropdown" data-toggle="dropdown">
                                        Americas - English (US)<i class="footer-icon footer-icon-globe"></i>
                                        <i class="footer-icon footer-icon-caret-down"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li>
                                            <div class="region-language-selector desktop clearfix">
                                                <ul class="region-ul menu-column col-sm-6">
                                                    <div class="menu-title">Region</div>
                                                    <li class="active current">
                                                        <a data-target="us" href="javascript:;" class="select-region">Americas</a>
                                                    </li>
                                                    <li>
                                                        <a data-target="eu" href="javascript:;" class="select-region">Europe</a>
                                                    </li>
                                                    <li>
                                                        <a data-target="kr" href="javascript:;" class="select-region">Korea</a>
                                                    </li>
                                                    <li>
                                                        <a data-target="tw" href="javascript:;" class="select-region">Taiwan</a>
                                                    </li>
                                                    <li>
                                                        <a data-target="cn" href="javascript:;" class="select-region">China</a>
                                                    </li>
                                                </ul>
                                                <ul class="language-ul menu-column col-sm-6">
                                                    <div data-region="us" class="region-languages active">
                                                        <div class="menu-title">Language</div>
                                                        <li class="active current">
                                                            <a data-target="us" data-language="en_US" href="//worldofwarcraft.com/en-us/game/pve/leaderboards/aegwynn/black-rook-hold" class="select-language">English (US)</a>
                                                        </li>
                                                        <li>
                                                            <a data-target="us" data-language="es_MX" href="//worldofwarcraft.com/es-mx/game/pve/leaderboards/aegwynn/black-rook-hold" class="select-language">Español (AL)</a>
                                                        </li>
                                                        <li>
                                                            <a data-target="us" data-language="pt_BR" href="//worldofwarcraft.com/pt-br/game/pve/leaderboards/aegwynn/black-rook-hold" class="select-language">Português (AL)</a>
                                                        </li>
                                                    </div>
                                                    <div data-region="eu" class="region-languages">
                                                        <div class="menu-title">Language</div>
                                                        <li>
                                                            <a data-target="eu" data-language="de_DE" href="//worldofwarcraft.com/de-de/game/pve/leaderboards/aegwynn/black-rook-hold" class="select-language">Deutsch</a>
                                                        </li>
                                                        <li>
                                                            <a data-target="eu" data-language="en_GB" href="//worldofwarcraft.com/en-gb/game/pve/leaderboards/aegwynn/black-rook-hold" class="select-language">English (EU)</a>
                                                        </li>
                                                        <li>
                                                            <a data-target="eu" data-language="es_ES" href="//worldofwarcraft.com/es-es/game/pve/leaderboards/aegwynn/black-rook-hold" class="select-language">Español (EU)</a>
                                                        </li>
                                                        <li>
                                                            <a data-target="eu" data-language="fr_FR" href="//worldofwarcraft.com/fr-fr/game/pve/leaderboards/aegwynn/black-rook-hold" class="select-language">Français</a>
                                                        </li>
                                                        <li>
                                                            <a data-target="eu" data-language="it_IT" href="//worldofwarcraft.com/it-it/game/pve/leaderboards/aegwynn/black-rook-hold" class="select-language">Italiano</a>
                                                        </li>
                                                        <li>
                                                            <a data-target="eu" data-language="pt_PT" href="//worldofwarcraft.com/pt-pt/game/pve/leaderboards/aegwynn/black-rook-hold" class="select-language">Português (EU)</a>
                                                        </li>
                                                        <li>
                                                            <a data-target="eu" data-language="ru_RU" href="//worldofwarcraft.com/ru-ru/game/pve/leaderboards/aegwynn/black-rook-hold" class="select-language">Русский</a>
                                                        </li>
                                                    </div>
                                                    <div data-region="kr" class="region-languages">
                                                        <div class="menu-title">Language</div>
                                                        <li>
                                                            <a data-target="kr" data-language="ko_KR" href="//worldofwarcraft.com/ko-kr/game/pve/leaderboards/aegwynn/black-rook-hold" class="select-language">한국어</a>
                                                        </li>
                                                    </div>
                                                    <div data-region="tw" class="region-languages">
                                                        <div class="menu-title">Language</div>
                                                        <li>
                                                            <a data-target="tw" data-language="zh_TW" href="//worldofwarcraft.com/zh-tw/game/pve/leaderboards/aegwynn/black-rook-hold" class="select-language">繁體中文</a>
                                                        </li>
                                                    </div>
                                                    <div data-region="cn" class="region-languages">
                                                        <div class="menu-title">Language</div>
                                                        <li>
                                                            <a data-target="cn" data-language="zh_CN" href="http://www.wowchina.com" class="select-language">简体中文</a>
                                                        </li>
                                                    </div>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <div class="dropdown-section clearfix">
                                                <a href="javascript:;" class="btn btn-primary change-button">Change</a>
                                            </div>
                                        </li>
                                        <div class="arrow-down"></div>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="footer-section clearfix bottom">
                            <div class="links-section pull-left">
                                <a href="http://us.blizzard.com/" data-analytics="global-nav" data-analytics-placement="Footer - Blizzard Logo">
                                    <div class="blizzard-logo"></div>
                                </a>
                            </div>
                            <div class="pull-left company-info">
                                <div class="footer-links pull-left">
                                    <ul class="footer-links">
                                        <li>
                                            <a href="http://jobs.blizzard.com/" data-analytics="global-nav" data-analytics-placement="Footer - Careers" class="footer-links-link footer-links-link--careers">Careers</a>
                                        </li>
                                        <li>
                                            <a href="http://us.blizzard.com/company/about/" data-analytics="global-nav" data-analytics-placement="Footer - About" class="footer-links-link footer-links-link--about">About</a>
                                        </li>
                                        <li>
                                            <a href="http://us.blizzard.com/company/about/privacy.html" data-analytics="global-nav" data-analytics-placement="Footer - Privacy" class="footer-links-link footer-links-link--privacy">Privacy</a>
                                        </li>
                                        <li>
                                            <a href="http://us.blizzard.com/company/legal/" data-analytics="global-nav" data-analytics-placement="Footer - Terms" class="footer-links-link footer-links-link--terms">Terms</a>
                                        </li>
                                        <li>
                                            <a href="//dev.battle.net" data-analytics="global-nav" data-analytics-placement="Footer - API" class="footer-links-link footer-links-link--api">API</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="copyright pull-left">©2017 Blizzard Entertainment, Inc. All rights reserved.</div>
                            </div>
                            <div class="ratings">
                                <div class="rating-wrapper clearfix">
                                    <a href="http://www.esrb.org/ratings/ratings_guide.jsp">
                                        <img src="https://bnetus-a.akamaihd.net/api/legal/static/images/legal/ratings/esrb/en/t.1qiE8.png">
                                    </a>
                                    <div class="descriptors-wrapper">
                                        <div title="Depictions of blood or the mutilation of body parts." class="esrb-descriptor">Blood and Gore</div>
                                        <div title="Depictions or dialogue involving vulgar antics, including “bathroom” humor." class="esrb-descriptor">Crude Humor</div>
                                        <div title="Mild to moderate use of profanity." class="esrb-descriptor">Mild Language</div>
                                        <div title="Mild provocative references or materials." class="esrb-descriptor">Suggestive Themes</div>
                                        <div title="The consumption of alcoholic beverages." class="esrb-descriptor">Use of Alcohol</div>
                                        <div title="Scenes involving aggressive conflict. May contain bloodless dismemberment." class="esrb-descriptor">Violence</div>
                                        <div class="esrb-descriptor">Online Interactions Not Rated by the ESRB</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mobile-footer-container">
                    <div class="footer-section clearfix">
                        <ul class="support-feedback">
                            <li>
                                <a id="btn-support" href="http://us.battle.net/support/" data-analytics="global-nav" data-analytics-placement="Footer - Support" class="pull-left">
                                    Support<i class="footer-icon footer-icon-question-circle pull-left"></i>
                                </a>
                            </li>
                            <li>
                                <a id="btn-feedback" href="http://us.battle.net/feedback" data-analytics="global-nav" data-analytics-placement="Footer - Feedback" class="pull-left">
                                    Feedback<i class="footer-icon footer-icon-edit pull-left"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-section clearfix">
                        <div data-toggle="collapsible" class="region-collapsible-container">
                            Americas - English (US)<i class="footer-icon footer-icon-globe"></i>
                            <i class="footer-icon footer-icon-caret-down"></i>
                            <ul class="region-language-collapsible hidden">
                                <li>
                                    <div class="region-language-selector clearfix">
                                        <ul class="region-ul menu-column col-sm-6">
                                            <div class="menu-title">Region</div>
                                            <li class="active current">
                                                <a data-target="us" href="javascript:;" class="select-region">Americas</a>
                                            </li>
                                            <li>
                                                <a data-target="eu" href="javascript:;" class="select-region">Europe</a>
                                            </li>
                                            <li>
                                                <a data-target="kr" href="javascript:;" class="select-region">Korea</a>
                                            </li>
                                            <li>
                                                <a data-target="tw" href="javascript:;" class="select-region">Taiwan</a>
                                            </li>
                                            <li>
                                                <a data-target="cn" href="javascript:;" class="select-region">China</a>
                                            </li>
                                        </ul>
                                        <ul class="language-ul menu-column col-sm-6">
                                            <div data-region="us" class="region-languages active">
                                                <div class="menu-title">Language</div>
                                                <li class="active current">
                                                    <a data-target="us" data-language="en_US" href="//worldofwarcraft.com/en-us/game/pve/leaderboards/aegwynn/black-rook-hold" class="select-language">English (US)</a>
                                                </li>
                                                <li>
                                                    <a data-target="us" data-language="es_MX" href="//worldofwarcraft.com/es-mx/game/pve/leaderboards/aegwynn/black-rook-hold" class="select-language">Español (AL)</a>
                                                </li>
                                                <li>
                                                    <a data-target="us" data-language="pt_BR" href="//worldofwarcraft.com/pt-br/game/pve/leaderboards/aegwynn/black-rook-hold" class="select-language">Português (AL)</a>
                                                </li>
                                            </div>
                                            <div data-region="eu" class="region-languages">
                                                <div class="menu-title">Language</div>
                                                <li>
                                                    <a data-target="eu" data-language="de_DE" href="//worldofwarcraft.com/de-de/game/pve/leaderboards/aegwynn/black-rook-hold" class="select-language">Deutsch</a>
                                                </li>
                                                <li>
                                                    <a data-target="eu" data-language="en_GB" href="//worldofwarcraft.com/en-gb/game/pve/leaderboards/aegwynn/black-rook-hold" class="select-language">English (EU)</a>
                                                </li>
                                                <li>
                                                    <a data-target="eu" data-language="es_ES" href="//worldofwarcraft.com/es-es/game/pve/leaderboards/aegwynn/black-rook-hold" class="select-language">Español (EU)</a>
                                                </li>
                                                <li>
                                                    <a data-target="eu" data-language="fr_FR" href="//worldofwarcraft.com/fr-fr/game/pve/leaderboards/aegwynn/black-rook-hold" class="select-language">Français</a>
                                                </li>
                                                <li>
                                                    <a data-target="eu" data-language="it_IT" href="//worldofwarcraft.com/it-it/game/pve/leaderboards/aegwynn/black-rook-hold" class="select-language">Italiano</a>
                                                </li>
                                                <li>
                                                    <a data-target="eu" data-language="pt_PT" href="//worldofwarcraft.com/pt-pt/game/pve/leaderboards/aegwynn/black-rook-hold" class="select-language">Português (EU)</a>
                                                </li>
                                                <li>
                                                    <a data-target="eu" data-language="ru_RU" href="//worldofwarcraft.com/ru-ru/game/pve/leaderboards/aegwynn/black-rook-hold" class="select-language">Русский</a>
                                                </li>
                                            </div>
                                            <div data-region="kr" class="region-languages">
                                                <div class="menu-title">Language</div>
                                                <li>
                                                    <a data-target="kr" data-language="ko_KR" href="//worldofwarcraft.com/ko-kr/game/pve/leaderboards/aegwynn/black-rook-hold" class="select-language">한국어</a>
                                                </li>
                                            </div>
                                            <div data-region="tw" class="region-languages">
                                                <div class="menu-title">Language</div>
                                                <li>
                                                    <a data-target="tw" data-language="zh_TW" href="//worldofwarcraft.com/zh-tw/game/pve/leaderboards/aegwynn/black-rook-hold" class="select-language">繁體中文</a>
                                                </li>
                                            </div>
                                            <div data-region="cn" class="region-languages">
                                                <div class="menu-title">Language</div>
                                                <li>
                                                    <a data-target="cn" data-language="zh_CN" href="http://www.wowchina.com" class="select-language">简体中文</a>
                                                </li>
                                            </div>
                                        </ul>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="dropdown-section clearfix">
                                        <a href="javascript:;" class="btn btn-primary change-button mobile">Change</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-section clearfix">
                        <div class="blizzard-logo">
                            <a href="http://us.blizzard.com/"></a>
                        </div>
                        <div class="footer-links">
                            <ul class="footer-links">
                                <li>
                                    <a href="http://jobs.blizzard.com/" data-analytics="global-nav" data-analytics-placement="Footer - Careers" class="footer-links-link footer-links-link--careers">Careers</a>
                                </li>
                                <li>
                                    <a href="http://us.blizzard.com/company/about/" data-analytics="global-nav" data-analytics-placement="Footer - About" class="footer-links-link footer-links-link--about">About</a>
                                </li>
                                <li>
                                    <a href="http://us.blizzard.com/company/about/privacy.html" data-analytics="global-nav" data-analytics-placement="Footer - Privacy" class="footer-links-link footer-links-link--privacy">Privacy</a>
                                </li>
                                <li>
                                    <a href="http://us.blizzard.com/company/legal/" data-analytics="global-nav" data-analytics-placement="Footer - Terms" class="footer-links-link footer-links-link--terms">Terms</a>
                                </li>
                                <li>
                                    <a href="//dev.battle.net" data-analytics="global-nav" data-analytics-placement="Footer - API" class="footer-links-link footer-links-link--api">API</a>
                                </li>
                            </ul>
                        </div>
                        <div class="copyright">©2017 Blizzard Entertainment, Inc. All rights reserved.</div>
                        <div class="ratings">
                            <div class="rating-wrapper clearfix">
                                <a href="http://www.esrb.org/ratings/ratings_guide.jsp">
                                    <img src="https://bnetus-a.akamaihd.net/api/legal/static/images/legal/ratings/esrb/en/t.1qiE8.png">
                                </a>
                                <div class="descriptors-wrapper">
                                    <div title="Depictions of blood or the mutilation of body parts." class="esrb-descriptor">Blood and Gore</div>
                                    <div title="Depictions or dialogue involving vulgar antics, including “bathroom” humor." class="esrb-descriptor">Crude Humor</div>
                                    <div title="Mild to moderate use of profanity." class="esrb-descriptor">Mild Language</div>
                                    <div title="Mild provocative references or materials." class="esrb-descriptor">Suggestive Themes</div>
                                    <div title="The consumption of alcoholic beverages." class="esrb-descriptor">Use of Alcohol</div>
                                    <div title="Scenes involving aggressive conflict. May contain bloodless dismemberment." class="esrb-descriptor">Violence</div>
                                    <div class="esrb-descriptor">Online Interactions Not Rated by the ESRB</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
