
<div class="Pane Pane--dirtLight Pane--bgBottom bordered">
    <div class="Pane-bg">
        <div class="Pane-overlay"></div>
    </div>
    <div class="Pane-content">
        <div class="gutter-normal gutter-vertical">
            <div class="SocialLinks">
                <div class="SocialLinks-title">Follow Warcraft</div>
                <div class="SocialLinks-links">
                    <a href="#" class="Link SocialLinks-link" data-analytics="sns-refer" data-analytics-placement="Footer - facebook">
                        <span class="Icon Icon--social-facebook Icon--medium SocialLinks-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 64 64" class="Icon-svg">
                                <use xlink:href="{{site.baseurl}}/assets/Icon/Icon-c8faedc6ad.svg#social-facebook"></use>
                            </svg>
                        </span>
                    </a>
                    <a href="#" class="Link SocialLinks-link" data-analytics="sns-refer" data-analytics-placement="Footer - twitter">
                        <span class="Icon Icon--social-twitter Icon--medium SocialLinks-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 64 64" class="Icon-svg">
                                <use xlink:href="{{site.baseurl}}/assets/Icon/Icon-c8faedc6ad.svg#social-twitter"></use>
                            </svg>
                        </span>
                    </a>
                    <a href="#" class="Link SocialLinks-link" data-analytics="sns-refer" data-analytics-placement="Footer - youtube">
                        <span class="Icon Icon--social-youtube Icon--medium SocialLinks-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 64 64" class="Icon-svg">
                                <use xlink:href="{{site.baseurl}}/assets/Icon/Icon-c8faedc6ad.svg#social-youtube"></use>
                            </svg>
                        </span>
                    </a>
                    <a href="#" class="Link SocialLinks-link" data-analytics="sns-refer" data-analytics-placement="Footer - reddit">
                        <span class="Icon Icon--social-reddit Icon--medium SocialLinks-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 64 64" class="Icon-svg">
                                <use xlink:href="{{site.baseurl}}/assets/Icon/Icon-c8faedc6ad.svg#social-reddit"></use>
                            </svg>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
