@import nib

@import 'wow.css'

// armory styles
.masthead-hero-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: auto;
    right: 0;
    width: 50%;
    background-position: 0 100%;
    background-repeat: no-repeat;
}

.Character-Inventory {
    position: relative;
    &-bg {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-position: top center;
        background-repeat: no-repeat;
        opacity: 0.5;
    }
}

.GameIcon-cosmetic {
    position: absolute;
    top: -3px;
    right: -3px;
    width: 16px;
    height: 16px;
    border: 8px solid #FFB3FF;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.Item-name {
    &.Item--POOR {
        color: #9d9d9d
    }
    &.Item--COMMON {
        color: #fff
    }
    &.Item--UNCOMMON {
        color: #1eff00
    }
    &.Item--RARE {
        color: #0081ff
    }
    &.Item--EPIC {
        color: #c600ff
    }
    &.Item--LEGENDARY {
        color: #ff8000
    }
    &.Item--ARTIFACT {
        color: #e5cc80
    }
    &.Item--HEIRLOOM {
        color: #0cf
    }
}

.color-blue-verylight {
    color: #00aeff;
}

.Armory-Talents {
    .Talent.is-selected {
        box-shadow: none;
    }
}

.Keystone-info {
    text-align: center;
    @media (min-width:720px) {
        width: 62px;
    }
}

.Raid-Icon,
.Dungeon-Icon {
    width: 62px;
    height: 62px;
    position: relative;
    .GameIcon-icon {
        background-repeat: no-repeat;
    }
    &-abbr {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        color: white;
        font-weight: bold;
        text-shadow: 0 1px 2px rgba(0,0,0,1);
    }
}
.Raid-Icon .GameIcon-icon {
    background-image: url(../assets/Icon/raid-icons.jpg);
}
.Dungeon-Icon .GameIcon-icon {
    background-image: url(../assets/Icon/dungeon-icons.jpg);
}

.Raid-Tile {
    background-color: #352011;
    text-align: center;
    padding: 10px;
    font-family: "Semplicita Pro","Open Sans",Arial,Helvetica,sans-serif;
    font-weight: 700;
    font-size: 13.5px;
    line-height: 22.5px;
    color: #b1997f;
    @media (min-width:720px) {
        font-size: 15.3px;
        line-height: 25.5px;
    }
    @media (min-width:1280px) {
        font-size: 18px;
        line-height: 30px;
        padding: 20px;
    }
    &--complete {
        background-color: #91c24e;
        color: #352011;
    }
    &--in-progress {
        background-color: #fff468;
        color: #352011;
    }
}

.Raid-Difficulty {
    display: block;
    @media (min-width:1280px) {
        display: inline;
    }
}


@import 'navbar.css'
@import 'footer.css'
