@import nib

@import 'wow.css'

// armory styles
.masthead-hero-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: auto;
    right: 0;
    width: 50%;
    background-position: 0 100%;
    background-repeat: no-repeat;
}

.Item-name {
    &.Item--POOR {
        color: #9d9d9d
    }
    &.Item--COMMON {
        color: #fff
    }
    &.Item--UNCOMMON {
        color: #1eff00
    }
    &.Item--RARE {
        color: #0081ff
    }
    &.Item--EPIC {
        color: #c600ff
    }
    &.Item--LEGENDARY {
        color: #ff8000
    }
    &.Item--ARTIFACT {
        color: #e5cc80
    }
    &.Item--HEIRLOOM {
        color: #0cf
    }
}


@import 'navbar.css'
@import 'footer.css'
