@import nib

@import 'wow.css'

// armory styles
.masthead-hero-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: auto;
    right: 0;
    width: 60%;
    background-position: 50% 80%;
    background-repeat: no-repeat;
}


@import 'navbar.css'
@import 'footer.css'
